* {
    margin: 0px;
    padding: 0px;

    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

body {
    background: #e6e6d2;
}

hr {
    border: none;
}

a {
    color: #019aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

/* CLASSES ================================================================== */

/*
** Clear
*/

.clear {
    display: block;
    clear: both;
}

/*
** Separator
*/

.separator {
    border-bottom: 1px solid #000;
}

/*
** Box
*/

.box {
    margin-bottom: 10px;

    font-size: 14px;
    border-radius: 5px 5px 0px 0px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
}

.box h4 {
    padding: 5px 10px;

    color: #fff;
    text-transform: uppercase;
    border-radius: 5px 5px 0px 0px;
    background: #33393c;
}

.box h4 a {
    color: #fff;
}

.box ul {
    list-style: none;
    border-bottom: 1px dotted #ccc;
}

.box ul li {
    padding: 10px;

    border-top: 1px dotted #ccc;
}

.box ul li:first-child {
    border: none;
}

.box ul li a {
    font-weight: bold;
}

.box ul li .info, .box ul li .link {
    display: block;

    color: #444;
    font-size: 13px;
}

.box ul li .link {
    word-wrap: break-word;
}

.box .actions {
    padding: 5px 10px;
}

.box .actions a,
.box .actions input[type="submit"],
.box .actions button {
    padding: 5px 10px;
    display: inline-block;

    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #000;
    border-radius: 3px;
    border: 1px solid #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
}

.box .actions input[type="submit"]:hover,
.box .actions button:hover {
    text-decoration: underline;
}

/* Box tree */

.box ul.tree {
    padding: 10px;
}

.box ul.tree ul {
    border: none;
}

.box ul.tree li {
    margin-left: 30px;
    padding: 0px !important;

    list-style-type: square;
    list-style-position: inside;
    border: none;
}

.box ul.tree > li {
    margin-left: 0px;
}

/* Box tags */

.box ul.tags {
    padding: 10px;

    border: none;
}

.box ul.tags li {
    margin-bottom: 3px;
    padding: 3px 5px;
    display: inline-block;
    vertical-align: center;

    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #959565;
    background: #e6e6d2;
}

/*
** Two coluns list
*/

ul.two_columns {
    border: none;
}

ul.two_columns li, ul.two_columns li:first-child {
    padding: 5px 0px;
    float: left;
    width: 50%;

    border: none;
    border-bottom: 1px dotted #ccc;
}

ul.two_columns li a {
    padding-left: 10px;
}

/*
** Simplre form
*/

form.simple_form .input {
    padding: 5px;

    border-top: 1px solid #eee;
}

form.simple_form .input label,
form.simple_form .input input,
form.simple_form .input textarea {
    display: inline-block;
}

form.simple_form .input label {
    padding-left: 10px;
    width: 150px;
    vertical-align: top;
}

form.simple_form .input.required label {
    font-weight: bold;
}

form.simple_form .input input,
form.simple_form .input textarea {
    width: 400px;
    max-width: 400px;
    padding: 5px;

    border: 1px solid #ccc;
    border-top-color: #666;
}

form.simple_form .input .mceEditor {
    display: inline-block;
}

form.simple_form .actions {
    border-top: 1px dotted #ccc;
}

/*
** Add form
*/

form.add_form {
    padding: 10px;

    border-bottom: 1px dotted #ccc;
}

form.add_form label {
    display: none;
}

form.add_form input[type="text"] {
    width: 60%;
    padding: 5px;

    border: 1px solid #ccc;
    border-top-color: #666;
    border-right: none;
}

form.add_form input[type="submit"] {
    margin-left: -4px;
    padding: 5px 10px;

    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #000;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #444;
    background-color: #4d5256;
    background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
}

form.add_form input[type="submit"]:hover {
    text-decoration: underline;
}

/* STRUCTURE ================================================================ */

/*
** Header
*/

header {
    padding: 10px;

    background-color: #4d5256;
    background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
}

/* System name */

header #system_name {
    float: left;
    width: 60%;
}

header #system_name h1, header #system_name h2 {
    color: #fff;
    font-family: Georgia, Times;
    text-shadow: 0px 1px 0px #000;
}

header #system_name h1 {
    font-size: 30px;
}

header #system_name h2 {
    font-weight: normal;
}

/* User */

header #user {
    padding: 5px 15px;
    float: right;

    color: #fff;
    font-size: 13px;
    text-shadow: 0px 1px 0px #000;
}

header #user p a {
    color: #fff;
}

/* Main navigation */

nav#main_navigation ul {
    padding-left: 10px;

    background: #4d5256;
}

nav#main_navigation ul li {
    display: inline-block;
}

nav#main_navigation ul li a {
    padding: 10px;
    display: block;

    color: #fff;
    text-shadow: 0px 1px 0px #000;
    text-decoration: none;
}

nav#main_navigation ul li a:hover {
    background-color: #6e6e6e;
}

nav#main_navigation ul li.actived a,
nav#main_navigation ul li.actived a:hover {
    color: #000;
    background-color: #e6e6d2;
    text-shadow: none;
}

/*
** Content
*/

#content {
    margin: 10px;
}

#content .header {
    margin: 10px 0px;
}

#content .header h3 {
    float: left;

    font-family: Georgia, Times;
    font-size: 25px;
    font-weight: normal;
    text-shadow: 0px 1px 0px #fff;
}

/* Breadcrumbs */

#content .header ul#breadcrumbs {
    float: right;

    list-style: none;
}

#content .header ul#breadcrumbs li {
    display: inline-block;
}

#content .header ul#breadcrumbs li:after {
    content: "/";
}

/*
** Principal content
*/

#main_content_wrapper {
    margin-right: -310px;
    width: 100%;
    float: left;
}

#main_content {
    margin-right: 310px;
}

/* Post box */

#quick_post {
    float: right;
    width: 65%;
}

#quick_post > * {
    margin-left: 10px;
}

/* File box, Pages box  */

#main_content aside {
    width: 35%;
    float: left;
}

/*
** Side bar
*/

#sidebar {
    width: 300px;
    float: right;
}

/*
** Footer
*/

footer {
    padding: 10px;

    color: #959565;
    font-size: 12px;
    text-align: center;
    text-shadow: 0px 1px 0px #fff;
    border-top: 1px solid #dcdcb2;
}

/***/

#wrapper {
/*    width: 1024px;*/
}

